html{
    text-align: center;
}

a{
    text-decoration: none;
}

.bold{
    font-weight: 800;
}

body{
    margin: 0 auto;
}


header{
    display: inline-flex;
    position: relative;;
    height: 64px;
    background-color: rgb(39, 47, 94);
    width: 80%;
}

.navbar{
    width: 100%;
}
.navbar .desktop{
    display: flex;
    justify-content: space-between;
}

.navbar .mobile{
    display: none;
}

header .desktop .name{
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
    margin: 16px 24px;

    img{
        filter: invert(65%) sepia(56%) saturate(659%) hue-rotate(2deg) brightness(96%) contrast(82%);
    }

    .name-a{
        color: rgb(236, 221, 181);
    }
}


.colmar{
    color: #daa520;
}
.navigation{
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
    margin: 16px 24px;
    font-size: 1.5rem;
}

.navigation a{
    margin: 16px;
    color: goldenrod;
}

@media only screen and (max-width:800px){
    .navbar .desktop{
        display: none;
    }

    .navbar .mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 8px;

    }

    .navbar .mobile a{
        filter: invert(65%) sepia(56%) saturate(659%) hue-rotate(2deg) brightness(96%) contrast(82%);
    }

    .navbar .mobile img{
        width: 40px;
    }
}



banner{
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(39, 47, 94);
    text-align: center;
    border-top: 2px solid goldenrod ;
    width: 80%;



}
banner img{
    width: 60%;
    margin: 32px 20px;
}

.banner-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px 24px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(236, 221, 181);
    width: 40%;

}

button{
    font-size: 2rem;
    font-weight: 700;
    padding:8px;
    border: solid 2px rgb(39, 47, 94);
    border-radius: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(236, 221, 181);

}

button:hover{
    background-color: rgb(90, 76, 58) ;
    border: 2px solid black;
    color: rgb(236, 221, 181);
}

@media only screen and (max-width:800px){
    
    banner{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    banner img{
        width: 100%;
        margin-bottom: 0;
    }

    .banner-text{
        width: 100%;

    }

    .banner-text h1{
        margin: 32px 16px;
    }
    
    .banner-text h3{
        margin: auto 16px 24px 16px;

    }

    button{
        margin: 24px 24px 32px 24px;
    }
}

.highlights{
    width: 80%;
    background-color: rgba(209, 150, 40, 0.699);
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}

.main-info{
    width: 60%;

}

.main-info img{
    max-width: 100%;
    margin: 32px 24px;
}

.main-info-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 32px;
    font-size: 1.5rem;
}

.main-info-text h2{
    font-size: 2rem;
    margin-bottom: 24px;

}

.small-info{
    width: 40%;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-left: solid 1px grey;
}

.small-info a{
    color: rgb(39, 47, 94);
}
.orientation{
    display: flex;
    border: solid 1px grey;
}

.orientation picture{
    height: auto;
    width: 35%;
    margin: 16px;
}

.orientation picture img{
    max-width: 100%;
}

.orientation-info{
    width: 65%;
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.campus{
    display: flex;
    border: solid 1px grey;
}    

.campus picture{
    height: auto;
    width: 35%;
    margin: 16px;
}

.campus picture img{
    max-width: 100%;
}

.campus-info{
    width: 65%;
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.guest{
    display: flex;
    border: solid 1px grey;
}

.guest picture{
    height: auto;
    width: 35%;
    margin: 16px;
}

.guest picture img{
    max-width: 100%;
}
.guest-info{
    width: 65%;
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width:800px){

    .highlights{
        height: auto;
    }
    
    .main-info{
        display: none;
        margin: 0;
    }

    .small-info{
        width: 100%;
        border-left: none;
        margin: 16px;
        text-align: left;
    }

    .small-info picture{
        width: 100%;
        margin: 0;

    }

    .small-info a{
        font-size: 20px;
        font-weight: 600;
    }

    .small-info h3{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .small-info p{
        font-size: 20px;
    }
    .orientation{
        display: inline-flex;
        flex-direction: column;
        border: none;
        align-items: center;
    }

    .orientation-info{
        width: 100%;
    }
    .campus{
        display: inline-flex;
        flex-direction: column;
        border: none;
        align-items: center;
    }

    .campus-info{
        width: 100%;
    }

    .guest{
        display: inline-flex;
        flex-direction: column;
        border: none;
        align-items: center;
    }

    .guest-info{
        width: 100%;
    }

}
.learn{
    background-color: rgb(39, 47, 94);
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.learn h1{
    font-size: 2rem;
    margin-top: 32px;
    color: rgb(236, 221, 181);
}

.programs{
    display: flex;
    flex-wrap: wrap;
    margin: 32px 72px;
    justify-content: space-between;
}

.programs div{
    width: 30%;
    margin-bottom: 32px;
    background-color: rgb(236, 221, 181);
    border: rgb(39, 47, 94) 1px solid;
    border-radius: 20px;
    
}

.programs div:hover{
    background-color: rgb(90, 76, 58) ;
    color: rgb(236, 221, 181);
    border: 1px solid black;
    transform: scale(1.075);
}

.programs img{
    max-width: 100%;
    border-radius: 18px 18px 0 0;
}

@media only screen and (max-width:800px){

    .learn{
        flex-wrap: wrap;
        align-content: center;
    }

    .programs{
        margin: 32px;
    }
    .programs img{
    display: none;
    }

    .programs h5{
        display: none;
    }

    .programs p{
        display: none;
    }

    .programs div{
        width: 100%;
        font-size: 28px;
        margin: 8px auto;

    }
}


.exhibit{
    width: 80%;
    background-color: pink;
    display: inline-flex;
    flex-direction: column;
    padding-top: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thesis{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}

.urban{
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 32px;
    font-size: 1.5rem;
    margin-right: 32px;
    
    h2{
        font-size: 2rem;
        margin-bottom: 24px;
    
    }
}

.urban video{
    max-width: 100%;
    padding: 32px 24px 24px 24px;

}

.other-thesis{
    width: 40%;
    padding-left: 32px;
    padding-top: 32px;

}

.other-thesis img{
    max-width: 100%;
}
.fisma{
    display: inline-flex;
}

.fisma picture{
    width: 35%;
    height: auto;
}


.fisma-text{
    width: 65%;
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.now-and-then{
    display: inline-flex;
    width: 100%;
}

.now-and-then picture{
    width: 35%;
    height: auto;
}

.now-and-then-text{
    width: 65%;
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width:800px){
    .thesis{
        font-size: 32px;
        padding:0;
        margin: 0;
        display: block;
    }

    h1{
        margin: 0 auto 16px;
    }
    .urban{
        width: 100%;
    }

    .urban h4{
        display: none;
    }

    .urban p{
        display: none;
    }

    .other-thesis{
        display: none;
    }
    .urban video{
        width: 100%;
        padding: 0;
        margin: 16px 0 24px 0;
        height: auto;
    }
}
footer{
    display: inline-flex;
    position: relative;
    bottom: 0;
    width: 80%;
    height: 64px;
    background-color: rgb(39, 47, 94);
    justify-content: space-between;
}

footer p{
    font-size: 18px;
    padding-left: 24px;
    color: goldenrod;
}
.terms-and-privacy{
    padding: 16px 0;
}

footer a{
    padding: 6px;
    font-size: 18px;
    color: goldenrod;
}

@media only screen and (max-width:800px){
    footer{
        height: 72px;
    }

    footer p{
        font-size: 20px;
    }

    footer a{
        font-size: 20px;
    }
}